<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the <%= title %></p>
    <ul>
    <% todolist.forEach(function(element, index){ %>
      <li><i class="fas fa-trash-alt"></i><%= element.task %></li>
    <% }); %>
    </ul>
    <h3>Ajouter une tâche</h3>
    <form action="/todo/ajouter" methode="post">
    	<input type="text" name="task">
    	<input type="submit">
    </form>
  </body>
</html>
